main {
  margin: 1rem;
}
.cards {
  justify-content: center;
  margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 210px));
    background-color: #fff;
    border: 1px solid #333;
  }
  
  section {
    margin: 5px;
    padding: 5px;
    background-color: #D9D7F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

h2 {
    font-size: 19px;
    color: blue;
}
p {
    font-size: 14px;
  }
  
img {
    height: 260px;
    border: 1px solid #333;
} 

section img{
  height: 250px;
  width: auto;
}