
p, ul, main, body {
    font-family: 'Barlow', sans-serif;
}
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: white;
}

p {
    color: white
  }

body{
    padding: 1em;
}

.container {
    max-width:90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 1.2em;
    box-shadow: 0 3px 3px black;
}

header,footer{
    background-color: #002fff;
    color: white;
    text-align: center;
    padding: .5em;
    border-radius: .8em;
    text-shadow: 0 3px 3px rgba(4, 3, 3, .5);
}

header img{
    width: 200px;
    box-shadow: 0 3px 3px black;
    display: grid;
    grid-template-columns:200px, 1fr ;
    justify-content: center;
    align-items: center;
}

main{
    padding: 1em;
}

main h2{
    border-bottom: 2px solid black;
    font-size: 1.2em;
}

main ul li{
    line-height: 1.8;
}

footer a{
    color: white;
}

footer p:last-of-type{
    color: #f5d42d;
    font-weight: 400;
}