*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

main{
    display: block;
    text-align: center;
}

.container {
    padding: 20px;
    background-color: #edeef3;
}

header {
    font-family: 'Merriweather', serif;
    background-color: #5461d8;
    color: black;
    padding: 1rem;
    box-shadow:black 1px 2px 1px;
}

h1 {
    padding: 5px;
    text-align: center;
    font-size: 2em;
    box-shadow:black 1px 2px 1px;
    
  }


nav{
    box-shadow:black 1px 2px 1px;
    height: fit-content;
    background-color: #a0e4f0c8;
}



/***********************/

  .navmenu {
    justify-content:space-evenly;
    display: flex;
    text-align: center;
    list-style: none;
    font-size: 1.3rem;
  }


  .navmenu a {
      display: block;
      padding: 1rem;
     text-decoration: none;
     color: black;
  }
  .navmenu a:hover {
      background-color:rgb(130, 127, 127);
      color:white;
  }

.social img{
    height: 48px;
    box-shadow: none;
}


p {
    padding: 10px;
}



footer{
    background-color:#5461d8;
    color: white;
    text-align: center;
    padding: .5em;
    box-shadow:black 1px 2px 1px;    
    text-shadow: 0 3px 3px rgba(4, 3, 3, .5);
}

footer a{
    color: white;
}

/*************************************************************************************/