h2{
    padding: 5px;
    text-shadow: rgb(113, 113, 113) 1px 1px 1px;
    font-size: xx-large;
}

h4{
    padding: 5px;
    text-shadow: rgb(113, 113, 113) 1px 1px 1px;
    font-size: xx-large;
}

.templeStuff{
    color: white;
    background-color:rgb(113, 113, 113) ;
    box-shadow: 1px 1px 1px black ;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.infoCard{
    text-align: left;
}

.reserve{
    color: white;
    background-color: #5461d8;
    box-shadow: 1px 1px 1px black;
}

.weather{
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color:  #5461d8;
}

.aboutUs{
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color: grey;
}

#weatherAlert {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #8bd1ed;
    color: black;
}

a{
    color: white;
}

li{
    list-style: none;
}

.threeDay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #8bd1ed;
    margin: 10px;
}

.dayOne{
    background-color: #5461d8;
    margin: 10px;
}

.dayTwo{
    background-color:rgb(158, 158, 158) ;
    margin: 10px;
}

.dayThree{
    background-color: #5461d8;
    margin: 10px;
}

.head {
    background-color: #a0e4f0c8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}