@media only screen and (min-width: 32.5em) {

    .navmenu{
        justify-content: space-evenly;
        display: flex;
    }
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .navigation li a {
        text-align: center;
    }

    .navigation li a:hover {
        background-color: rgba(0, 0, 0, .3);
    }

    .navigation li:last-of-type{
        border-right:none;
    }

    .navigation li:first-child {
        display: none;
    }

}

/***************************************************************/

.templeStuff{
    display: inline-block;
}

.weather{
    margin: 10px;
}

.aboutUs{
    margin: 10px;
}

.reserve{
    margin: 10px;
}

img.paysonImg {
    width: 100%;
}