main {
  margin: 1rem;
}


  .infoCards-list {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem 2rem;
}

.infoCards-list img{
  display: none;
}

.buttons{
  display: flex;
  justify-content: center;
}

.infoCards-list section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

  
  section {
    margin: 5px;
    padding: 5px;
    background-color: rgb(98, 98, 98);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow:black 1px 2px 1px;
  }

h2 {
  text-shadow: black 1px 1px 1px;
    font-size: 19px;
    color: white;
}

h3{
  font-size: xx-large;
  padding: .5rem;
}

p {
  text-shadow: black 1px 1px 1px;
  color: white;
    font-size: 14px;
  }



section img{
  height: 250px;
  width: auto;
}

.logo img{
  width: 96px;
  height: 96px;
}

.liked{
margin: 5px;
padding: 5px;
background-color: rgb(202, 202, 202);
}

button{
  margin: 5px;
  padding: 5px;
}

.head {
  background-color: #a0e4f0c8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
