/*large*/
@media screen and (min-width: 64em) { 
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    header{
        justify-content: space-evenly;
        display: flex;
    }
    .navmenu {
        display: flex;
    }
    .navmenu li:first-child {
        display: none;
    }
    .navmenu li {
        display: block;
        flex: 1 1 100%;
    }
    .large {
        display: block;
    }
 
    .hero {
        grid-column: 2/4;
    }
    .news {
        grid-column: 2/4;
    }
    .spotlight {
        display: grid;
        grid-column: 4/5;
        grid-row: 1/4;
    }
    .spotlight1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .spotlight2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .spotlight3 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .join {
        display: block;
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .event {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .weather {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .spotlight3 {
        display: grid;
    }
    
    .join {
        position: relative;
        display: grid;
        padding: 60px;
    }

}